<% if current_user.image? %>
　　        <%= image_tag current_user.image.thumb.url %>
　      <% else %>
　　        <%= image_tag 'default.png' %>
　      <% end %>
<h1><%= current_user.name %></h1>
<span><%= link_to "プロフィール", current_user %></span>
<span><%= pluralize(current_user.microposts.count, "個の投稿") %></span> 